.if-section {
  background-color: black;
  height: 424px;
  width: 680px;
  padding-top: 20px;
}
 .if-section img{
   width: 325px;
 }

.if-body-copy {
  color: white;
  position: relative;
  top: -230px;
  left: 300px;
}

.if-body-copy p:nth-child(2) {
  padding-left: 25px;
}

#red-heading{
  color: red;
  margin-top: 40px;
}

#line{
  width: 700px;
  margin-top: -28px;
}

#website {
  margin-left: 200px;
  margin-top: -15px;
  margin-bottom: 20px;
  color: gray;
  font-size: 1.5em;
}

#adobe{
  width: 200px;
  margin-left: 480px;
  margin-top: -30px;
}

.lower-section p{
  margin: 5px;
}

.lower-section h2{
  font-size: 1em;
  margin-top: 25px;
}

ul{
  margin-left: -22px;
  margin-top: -12px;
}
