.if-section {
  background-color: black;
  height: 415px;
  width: 800px;
}
 .if-section img{
   width: 325px;
 }

.if-body-copy {
  color: white;
  position: relative;
  top: -200px;
  left: 240px;
}

.if-body-copy~p {
  left: 240px;
}

#red-heading{
  color: red;

}

#website {
  margin-left: 200px;
  margin-top: -20px;
  color: gray;
  font-size: 1.5em;
}

#adobe{
  width: 200px;
  margin-left: 550px;
  margin-top: -100px;
}
